@import "bootstrap";
@import "ionicons";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  background-color: #f9f9f9;
}

.themed-text {
  color: #ED755A !important;
}

.navbar-brand {
  font-family: 'Berkshire Swash', cursive;
}

span.navbar-text {
  padding: 0;
}

.navbar-text a.navbar-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 0.5rem 0;
}

.navbar-text a.navbar-link:hover {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

.navbar-text a.navbar-link.active {
  color: #fff;
}

.faded-white {
  color: rgba(255, 255, 255, 0.85);
}

.content-box {
  border: 2px solid #d0d0c8;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #d0d0c8;
  padding: 28px 10px 34px 10px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.content-box fieldset {
  border: none;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.content-box a {
  color: #CF6B54;
}

ul.error-list {
  border: none;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: left;
}

.submit-button-lg {
  background-color: #ED755A;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 2px;
  border: 1px solid #D6D0C4;
  text-decoration: none;
  outline: 0 !important;
}

.submit-button-lg:focus,
.submit-button-lg:active {
  border-color: rgba(245, 165, 117, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(237, 117, 90, 0.5);
  outline: 0 none !important;
}

div.field {
  margin-bottom: 1em;
}

.field input,
.field textarea,
.field select {
  border: 1px solid #D6D0C4;
  border-radius: 4px;
  color: #495057;
}

.field input:not([type='checkbox']):focus,
.field textarea:focus,
.field select:focus {
  border-color: rgba(245, 165, 117, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(237, 117, 90, 0.5);
  outline: 0 none !important;
}

.custom-alert {
  position: relative;
  width: 600px;
  margin: 0 auto 1rem auto;
}

.close {
  float: none;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -10px;
}
